<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdelfattah.study">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginSignUp.LoginActivity" />
        <activity android:name=".LoginSignUp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSignUp.signup" />
        <activity android:name=".COURSE.TheDoctor" />
        <activity android:name=".COURSE.TheStudent" />
        <activity android:name=".COURSE.JoinCourse" />
        <activity android:name=".COURSE.AddCourse" />
        <activity android:name=".COURSE.AddBio" />
        <activity android:name=".Questions.QuestionsDoctor" />
        <activity android:name=".Questions.QuestionStudent" />
        <activity android:name=".Questions.AddQuestion" />
        <activity android:name=".Answers.AddAnswer" />
        <activity
            android:name=".CourseMainMenu.Fragments.MainCourseDoctor"
            android:label="@string/title_activity_main_course_doctor" />
        <activity android:name=".CourseMainMenu.Fragments.ADD.AddMaterials" />
        <activity android:name=".CourseMainMenu.Fragments.ADD.AddLesson" />
        <activity android:name=".CourseMainMenu.Fragments.ADD.AddAnnouncement" />
        <activity android:name=".Answers.Answers"></activity>
    </application>

</manifest>